*.000
*.bak
*.bck
*.tmp
*~
~*
*-bak
*-bak*
*.kicad_pcb-bak
*.kicad_sch-bak
*_autosave-*
_autosave-*
\#auto_saved_files\#
\#auto_saved_files#
~*.lck
fp-info-cache
*-cache*
*.kicad_prl
*-backups/
**/*-backups/*.zip
.history/
*.net
*.dsn
*.ses
gerber/
gerbers/
fab/
fabrication/
production/
outputs/
*.gbr
*.gbrjob
*.drl
*.pos
*.rpt
*.xml
*.csv
.DS_Store
Thumbs.db
.vscode/
.idea/
_restore_backup*
